* {
    margin: 0;
    padding: 0;
}

.quiz-wrapper {
    background: var(--c-lightblue);
    height: 80vh;
}

.ques-wrapper {
    background: var(--c-white);
    width: 35rem;
}

@media only screen and (max-width: 400px) {
    .ques-wrapper {
        width: 25rem;
    }
}