* {
    margin: 0;
    padding: 0;
}

.ques-header {
    background: var(--c-lightblue);
}

.ques-wrapper {
    width: 35rem;
}

@media only screen and (max-width: 400px) {
    .ques-wrapper {
        width: 25rem;
    }
}